<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index">{{title}} <span></span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="generic">Solicita tu préstamos</a></li>
					<li><a href="elements">¿Quienes Somos?</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<h2>Elements</h2>
					<p> Es una empresa especializada en el otorgamiento de préstamos personales, creada en al año 2021 con el objetivo de desarrollar productos y servicios financieros de calidad, con el respaldo de un equipo profesional que nos permita cumplir con las expectativas más exigentes de nuestros clientes.
Todos los que conformamos la empresa contamos con una amplia experiencia en la dirección, y conducción de proyectos de préstamos de consumo, brindando seriedad, responsabilidad y conocimiento del mercado. Estamos orgullosos de poder ofrecerle a cada cliente la solución a su necesidad. 
Objetivos
Nuestro propósito es brindar soluciones creativas e innovadoras, aplicando tecnología de vanguardia para ofrecer siempre préstamos personales competitivos, con la mejor oferta del mercado, el servicio más cómodo y un entorno de máxima seguridad.
Nos diferenciamos de nuestros competidores por ser una alternativa al alcance de los clientes y con amplios beneficios</p>
				

		

		
					

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/PERICO2022PRESTAMOS" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://wa.me/5493884299868" class="icon round fa-whatsapp"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>